* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "DancingScript";
  src: url("./assests/fonts/Dancing_Script/DancingScript-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("./assests/fonts/Lato/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/*Header part*/

.nav-item {
  list-style: none;
  font-size: 16px;
  font-family: "Lato";
  text-transform: uppercase;
  color: gray;
}
.navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 15px 0px;
}
.title-name {
  text-align: center;
  font-family: "DancingScript";
  font-size: 44px;
  color: hsl(0deg 0% 20.39%);
}
header {
  display: flex;
  flex-direction: column;
}

.hambar {
  position: relative;
  top: -20px;
  left: 50px;
  width: 25px;
  height: 1px;
  margin: 3px 3px;
  border: 1px solid black;
}
.hammenu {
  visibility: hidden;
}

/*Photo container */
.photo-container {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 7.5vw);
  grid-gap: 20px;
  padding: 20px 0px;
  margin: auto;
}

.photo-box p {
  font-size: 14px;
  color: gray;
  font-family: "Lato";
}
.photo-img {
  width: 100%;
  height: 90%;
  object-fit: cover;
}

figcaption {
  margin-top: 5px;
  margin-bottom: 5px;
}

.photo-box-1 {
  grid-row: 1 / 4;
  grid-column: 1 / 4;
}
.photo-box-2 {
  grid-row: 1 / 4;
  grid-column: 4 / 8;
}
.photo-box-3 {
  grid-row: 1 / 4;
  grid-column: 8 / 11;
}
.photo-box-4 {
  grid-row: 4 / 7;
  grid-column: 3 / 8;
}
.photo-box-5 {
  grid-row: 4 / 7;
  grid-column: 1 / 3;
}
.photo-box-6 {
  grid-row: 4 / 7;
  grid-column: 8 / 11;
}
.photo-box-7 {
  grid-column: 8 / 11;
  grid-row: 7 / 10;
}

.photo-box-8 {
  grid-column: 1/3;
  grid-row: 7 / 10;
}
.photo-box-9 {
  grid-column: 3 / 8;
  grid-row: 7 / 10;
}

.photo-box:hover {
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.showMoreButton {
  display: block;
  margin: auto;
  background-color: #8c6333;
  font-family: "Lato";
  width: 145px;
  height: 35px;
  color: white;
  border-radius: 20px;
  border: none;
  outline: none;
  font-size: 18px;
  cursor: pointer;
  margin-bottom: 30px;
}

.showMoreButton:hover {
  background-color: #ac804d;
}

.galleryContainer {
  width: 100%;
  display: flex;

  flex-wrap: wrap;
  justify-content: center;
}
.galleryContainer div {
  width: 250px;
  height: 250px;
  margin: 20px;
}
.galleryContainer div img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}
@media screen and (max-width: 600px) {
  .photo-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: -5px auto;
    justify-content: center;
    align-items: center;
  }
  .photo-box {
    width: 80%;
    height: 370px;
  }
  .hammenu {
    visibility: visible;
  }
  .navbar {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    top: 50px;
    left: -100%;
    background-color: #eeecec;
    padding-top: 2rem;
    transition: left 0.3s ease-in-out;
  }
  .nav-item {
    display: block;
    margin: 0;
    text-align: center;
    padding: 1rem 0;
  }
  .navbar.active {
    left: 0;
    z-index: 2;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .photo-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }
  .photo-box {
    width: 48%;
    height: 390px;
  }
}
